In [1]:
import requests
from datetime import datetime
import twitter
import random
import csv
import argparse
import os
import time
import pandas as pd

# 실험 환경에 맞도록 데이터 만들기

## 사용할 데이터 불러오기

In [2]:
data = pd.read_csv("./november_2021_COVID-19_Twitter_Streaming_Dataset.csv")

In [3]:
data.head() ## 42:52 -> machine_id

                   _id
0  1454961019550265345
1  1454961019600650245
2  1454961020187947046
3  1454961019936071680
4  1454961020431122433

## 사용하는 함수

- id -> machine id
    - id -> 2진수로 변경 -> [42:52] 
- id -> 시간으로 변경 
    - id = find_tweet_timestamp_post_snowflake(id) 
    - time = datetime.fromtimestamp(id/1000)

In [4]:
def find_tweet_timestamp_post_snowflake(tid):
    offset = 1288834974657
    tstamp = (tid >> 22) + offset
    time = datetime.fromtimestamp(tstamp/1000)
    return time

In [5]:
def find_machine_id(tid):
    binaryNum = format(tid, 'b')
    binaryNum = '000'+binaryNum
    machine_id = binaryNum[42:52] 
    return machine_id

In [6]:
def sort_tid(df):
    times = []
    for i in range(len(df)):
        tid = df.iloc[i,]._id
        time = find_tweet_timestamp_post_snowflake(tid)
        times.append((df.index[i],time))
    times.sort(key=lambda x:x[1])
    
    sorted_data = []
    for a,b in times:
        tid = df.loc[a]._id
        sorted_data.append(tid)
    return sorted_data

In [7]:
def save_df(list_, file_name):
    df = pd.DataFrame(list_)    
    df.rename(columns = {'0' : '_id'}, inplace = True)    
    df.to_csv(file_name, mode='w', index=None)
    return df

## 데이터 shuffle

In [8]:
data = data.sample(frac=1)  # frac => 몇 % 의 데이터를 return할 것인지?
data.head()
# data = data.sample(frac=1).reset_index(drop=True)  # shuffling하고 index reset

                          _id
69262335  1462196072210583552
87859146  1464193714381680645
64916260  1461697044578504704
42002832  1459275539575943168
74625241  1462838396389314560

## slice data

In [9]:
data_num = len(data)
divide_data_num = len(data)//3

In [10]:
data1 = data.iloc[:divide_data_num, :]
data2 = data.iloc[divide_data_num:2*divide_data_num, :]
data3 = data.iloc[-divide_data_num:]

## 나눈 데이터 시간으로 sorting 하기

## Sort

In [11]:
# sorted_data1 = sort_tid(data1)
# sorted_data2 = sort_tid(data2)
# sorted_data3 = sort_tid(data3)

## Save

In [12]:
# sorted_df1 = save_df(sorted_data1)
# sorted_df2 = save_df(sorted_data2)
# sorted_df3 = save_df(sorted_data3)

In [13]:
sorted_df1 = pd.read_csv("data1.csv")
sorted_df2 = pd.read_csv("data2.csv")
sorted_df3 = pd.read_csv("data3.csv")

In [14]:
for i in range(5):
    tid = sorted_df1.loc[i,'_id']
    print(find_tweet_timestamp_post_snowflake(tid))

2021-11-01 08:58:33.586000
2021-11-01 08:58:33.796000
2021-11-01 08:58:33.805000
2021-11-01 08:58:33.884000
2021-11-01 08:58:33.912000

In [15]:
for i in range(5):
    tid = sorted_df2.loc[i,'_id']
    print(find_tweet_timestamp_post_snowflake(tid))

2021-11-01 08:58:33.598000
2021-11-01 08:58:33.678000
2021-11-01 08:58:33.693000
2021-11-01 08:58:33.738000
2021-11-01 08:58:34.077000

In [16]:
for i in range(5):
    tid = sorted_df3.loc[i,'_id']
    print(find_tweet_timestamp_post_snowflake(tid))

2021-11-01 08:58:33.911000
2021-11-01 08:58:33.981000
2021-11-01 08:58:34.100000
2021-11-01 08:58:34.114000
2021-11-01 08:58:34.301000